# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=khmer_data_annotation
IMAGE_COLLECTION=images
PROJECT_COLLECTION=projects
USER_COLLECTION=users

# Firebase Configuration
GOOGLE_APPLICATION_CREDENTIALS=./firebase/jomnam-service-account.json

# Server Configuration
PORT=:8080
CORS_ORIGIN=http://localhost:5173

# Cookie Configuration
COOKIE_DOMAIN=localhost
